.aurora-container {
    width: 100%;
    height: 100%;
    position: absolute;
    /* Ensure it layers correctly */
    top: 0;
    left: 0;
    z-index: 0;
    /* Background */
    pointer-events: none;
    /* Let clicks pass through */
}